<template>
  <div class="font-light text-slate-800 bg-slate-50 px-3">
    <div class="flex">
      <div class="flex-none w-[24px] text-center">
        <fa-icon :icon="getIcon()"></fa-icon>
      </div>
      <div class="flex-1">
        {{ labelProps.title }}
      </div>
    </div>
    
  </div>
</template>

<script lang="ts" setup>
export interface LabelProps {
  // title - the title of the Card
  title?: string,
  icon?: string,
}
const labelProps = withDefaults(defineProps<LabelProps>(), {
  title: 'label title...',
  icon: `circle-question`,
})

function getIcon() {
  return labelProps.icon
}
</script>