<template>
  <div class="rounded-lg bg-gradient-to-r from-slate-50 to-slate-300">
    <!-- title -->
    <div class="text-red-400">
      <div class="flex py-3 px-4 mx-[8px] border-b-[1px] border-b-slate-400">
        <div class="flex-auto">
          {{cardProps.title}}
        </div>
        <div class="flex-none w-[40px] text-center">
          <fa-icon icon="circle-question" @click="onClick('TITLE-ICON-1', cardProps.title)"></fa-icon>
        </div>
      </div>
    </div>

    <!-- slot / image etc -->
    <div class="h-[200px] px-4 pt-4">
      <slot></slot>
    </div>

    <!-- action area -->
    <div class="text-right py-3 px-4">
      <button class="rounded-sm bg-sky-400 shadow-lg px-4 py-2 font-semibold text-sm text-white" 
        @click="onClick('BTN-1', cardProps.title)">OK</button>
      &nbsp;
      <button class="rounded-sm bg-sky-400 shadow-lg px-4 py-2 font-semibold text-sm text-white" 
        @click="onClick('BTN-2', cardProps.title)">Cancel</button>
    </div>

    
  </div>
</template>

<script setup lang="ts">
export interface CardProps {
  // title - the title of the Card
  title?: string
}
const cardProps = withDefaults(defineProps<CardProps>(), {
  title: 'testing purpose (please provide a value instead) v1.0.0',
})
const cardEmit = defineEmits({
  click: function(value:any) {
    if (value) {
      return true
    }
    return false
  },
})
function onClick(section:string, value:string) {
  if ('card' == section) {
    console.log(`title session: ${value} clicked`)
  } else {
    cardEmit('click', { value, id: section, })
  }
}
</script>
