<script setup lang="ts">
import { viteyCard } from './components/card'
import { viteyLabel } from './components/label'

function onCardClick(payload:any) {
  console.log(payload)
  console.log(Object.keys(payload)+' : happy to get a child component clicked')
}

</script>
<template>
  <div class="mx-auto mt-4 w-[500px]">
    <vitey-card 
      title='testing purpose ~ 01' 
      @click="onCardClick">
      <div class="overflow-y-scroll overflow-x-hidden h-[180px]">
        
          slot contents: could be anyting in HTML syntax <p></p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas. Consequat interdum varius sit amet mattis vulputate enim. Orci phasellus egestas tellus rutrum tellus pellentesque eu. Congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Orci sagittis eu volutpat odio facilisis mauris sit amet. Amet nulla facilisi morbi tempus iaculis urna id. Maecenas sed enim ut sem viverra. Commodo elit at imperdiet dui accumsan. Purus faucibus ornare suspendisse sed nisi lacus sed. Ut diam quam nulla porttitor. Quam lacus suspendisse faucibus interdum. Imperdiet proin fermentum leo vel orci porta non pulvinar. Tellus integer feugiat scelerisque varius morbi enim nunc. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Vulputate mi sit amet mauris commodo quis. Amet venenatis urna cursus eget nunc scelerisque.<p></p>
          Ac auctor augue mauris augue neque gravida in fermentum et. Vel fringilla est ullamcorper eget nulla facilisi etiam. Quam elementum pulvinar etiam non quam lacus suspendisse. Tortor aliquam nulla facilisi cras. Donec et odio pellentesque diam volutpat commodo sed. Porttitor eget dolor morbi non arcu risus. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Orci sagittis eu volutpat odio facilisis mauris sit. Consectetur adipiscing elit pellentesque habitant morbi tristique.
        
      </div>
    </vitey-card>
    <viteyLabel></viteyLabel>
    <viteyLabel title="a default label with icon:" icon="microphone"></viteyLabel>
    

  </div>
</template>

